{% extends 'ui-2/main.html' %}

{% load static %}

{% block content %}

<section>
    <div class="container">
      <p class="text-center fs-1">Latest Events</p>
      <h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">Enjoy the current moment without hesitation.</h2>
      <div class="row justify-content-center gx-xl-7 mt-5">
        









        {% for event in events %}
        <div class="col-lg-3 col-md-4 mb-6 mb-md-0 d-flex flex-column align-items-center text-center text-md-center m-5">
          <a href="{% url 'single-event' event.id %}" style="color: #000;">
            <img class="m-2" src="{{ event.featured_image.url }}" alt="" style="width: 334px; height: 400px; object-fit: cover; border-radius: 20px;"/>
          </a>
            <h4 class="mt-3 my-1" style="color: #000;">{{ event.title }}</h4>
          <p class="fs-1 mb-0" style="color: #000;">{{ event.description|slice:100 }}</p>
          <h5 style="color: rgb(4, 39, 112);"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
            {{ event.location }} </h5>
          <h5 style="color: rgb(30, 10, 211);"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-day" viewBox="0 0 16 16">
              <path d="M4.684 11.523v-2.3h2.261v-.61H4.684V6.801h2.464v-.61H4v5.332zm3.296 0h.676V8.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a2 2 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43m.094 5.093h.672V7.418h-.672z"/>
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg>
            {{ event.date_time }} </h5>
          <a class="text-dark fs-1 pb-2 fw-bold border-black border-bottom text-decoration-none" href="{% url 'single-event' event.id %}" style="color: #000;">Buy Now <i class="fa-solid fa-arrow-right ms-2"></i></a>
        </div>
        {% endfor %}









        
      </div>
    </div><!-- end of .container-->
</section>

<style>
  @media screen and (max-width: 585px) {
    .w-50 {
      width: 500px;
    }
  }
</style>

{% endblock content %}
