{% load static %}

<section class="pt-0">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 col-sm-12"><a href="index.html"><img class="img-fluid mt-5 mb-4" src="{% static 'ui-kit-2/build/assets/img/black-logo.png' %}" alt="" /></a>
          <p class="w-lg-75 text-gray">Social media validation business model canvas graphical user interface launch party creative facebook iPad twitter.</p>
        </div>
        <div class="col-lg-2 col-sm-4">
          <h3 class="fw-bold fs-1 mt-5 mb-4">Landings</h3>
          <ul class="list-unstyled">
            <li class="my-3 col-md-4"><a href="#">Home</a></li>
            <li class="my-3"><a href="#">Products</a></li>
            <li class="my-3"><a href="#">Services</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-4">
          <h3 class="fw-bold fs-1 mt-5 mb-4">Company</h3>
          <ul class="list-unstyled">
            <li class="my-3"><a href="#">Home</a></li>
            <li class="my-3"><a href="#">Careers</a><span class="py-1 px-2 rounded-2 bg-success fw-bold text-dark ms-2">Hiring!</span></li>
            <li class="my-3"><a href="#">Services</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-4">
          <h3 class="fw-bold fs-1 mt-5 mb-4">Resources</h3>
          <ul class="list-unstyled">
            <li class="mb-3"><a href="#">Home</a></li>
            <li class="mb-3"><a href="#">Products</a></li>
            <li class="mb-3"><a href="#">Services</a></li>
          </ul>
        </div>
      </div>
      <p class="text-gray">All rights reserved.</p>
    </div><!-- end of .container-->
  </section><!-- <section> close ============================-->