{% extends 'ui/main.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row m-5 mb-1 justify-content-center">
    <div class="col-12">
      <h1 class="text-center">EVENTS</h1>
      <hr>
    </div>
  </div>

  <div class="row m-4">
    {% for event in events %}
    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{ event.featured_image.url }}" alt="Event Image" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title text-center">{{ event.title }}</h5>
          <p class="card-text">{{ event.description|truncatechars:100 }}</p>
          <div class="text-center">
            <a href="{% url 'update-event' event.id %}" class="btn btn-secondary mx-2">Edit</a>
            <a href="{% url 'delete-event' event.id %}" class="btn btn-secondary mx-2" style="background-color: red;">Delete</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock content %}
