{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'styles/custom.css' %}" />

</head>
<body>

    {% if messages %}

  <ul class="messages">
    {% for message in messages %}
    <li>
      <div class="alert alert-dark" role="alert">
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
      </div>
    </li>
    {% endfor %}
  </ul>

{% endif %}

    {% block content %}

    {% endblock content %}

    <script src="{% static 'js/custom.js' %}"></script>
    
</body>
</html>