{% load static %}

<nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>


            {% if page != 'add-event' and page != 'update-event' and page != 'delete-event' and page != 'add-ticket' and page != 'delete-ticket' and page != 'bulk-download' and page != 'add-team-member' and page != 'update-team-member' and page != 'delete-team-member' %}

              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <form method="GET">
                    <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                    name="search"
                    value="{{search_query}}"
                  />
                  </form>
                  
                </div>
              </div>
              <!-- /Search -->

              {% else %}

                  {% if page == 'add-ticket' or page == 'delete-ticket' %}

                    <a href="{% url 'tickets' %}">

                    {% elif page == 'add-team-member' or page == 'update-team-member' or page == 'delete-team-member' %}

                    <a href="{% url 'passes' %}">

                  {% else %}

                      <a href="{% url 'admin' %}">

                  {% endif %}

                  
                  <div class="navbar-nav align-items-center">
                        <div class="nav-item d-flex align-items-center">
                            <div class="d-flex align-items-center m-4 mt-1 mb-1">
                                <i class="fas fa-arrow-left fs-4 lh-0"></i>
                                <strong class="ms-2">FLOAK</strong>
                            </div>                    
                        </div>
                    </div>
                </a>

              


            {% endif %}

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{% static 'ui-kit/assets/img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{% static 'ui-kit/assets/img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">{{profile.name}}</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    
                    <li>
                      <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>

          </nav>

          <!-- / Navbar -->